<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<body>
  <div class="main-content">
  {{>header}}
  <p>This site was created by Mariam Tsu. It uses data from mapbox.com and weatherstack.com</p>
  
 <img class="portrait" src="/img/mariam.jpg"/>
 </div>
 {{>footer}}
</body>

</html>